

/* Popup container styles */
.selected-products-popup {
    position: fixed;
    top: 160px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    width: 350px; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    display: none; /* Hide the popup by default */
	border-radius: 20px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

/* Product list styles */
.selected-products-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Product list item styles */
.selected-products-popup li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Remove button styles */
.selected-products-popup button {
    background-color: #CCC281;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.selected-products-popup button:hover,
.selected-products-popup button:focus {
  color: #000000;
}

.selected-products-popup button.proceed-button {
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-right: 86px;
    
}

/* Close button styles */
.selected-products-popup button.close-button {
    border: none;
    cursor: pointer;
    float: right,bottom;    
}

.selected-products-popup button.remove-button{
	background-color: #ffffff;
	color: #000000;
    border-style: solid;
    border-width: thin;
    margin-right: 8px;    
    
}

.selected-products-popup button.plus-button{
	background-color: #ffffff;
	color: #000000;
    border-style: solid;
    border-width: thin;
    padding: 5px 7px;
}

.selected-products-popup button.remove-button:hover{
	box-shadow:0 0 5px 4px rgba(0,0,0,0.2);
}

.selected-products-popup button.plus-button:hover{
	box-shadow:0 0 5px 4px rgba(0,0,0,0.2);
}

#menu-item-317 {
    position: relative;
    /* Add any other styling you have for this element here */
}

#menu-item-317 .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%; /* This will make it round */
    padding: 0.25em; /* Uniform padding */
    font-size: 0.75em; /* Adjust the size as needed */
    position: absolute;
    top: 30px;
    right: 18px;
    transform: translate(100%, -50%); /* Center the badge over the top-right corner of the cart item */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8em; /* Width and height should be the same for a circle */
    height: 1.8em;
    font-weight: bold;
    line-height: 1em; /* Prevent extra vertical space inside the badge */
    text-align: center;
}




